#ignore buildfiles in ./dist
/boSSSpad/*.js
/dist/*.js
#ignore node specific build files
node_modules/
package-lock.json
#ignore packaged program, ignore installer files
InnoSetup/bin/BoSSSpad-win32-x64/
InnoSetup/installer/
#ignore Userdata
userData.txt