html{
    width : 100%;
    height : 100%;
    
    }
    body{
        width : 100%;
        height: 100%;
        margin: 0px;
    }

    .container{
        overflow: hidden;
        height : 100%;
        width : 100%;
    }
    
    .editor{
        float: left;
        height: 100%;
    }
    
    .interactiveListUL {
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: 100%;
    }
        
    .userInput{
        float: left;
        height: 100%;
        position: relative;
    }
    
    .split, .gutter.gutter-horizontal {
        float: left;
        height: 100%;
    }

    .gutter {
        background: #bbb;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .gutter.gutter-horizontal {
        background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
        cursor: ew-resize;
    }
    
    .runDecoration {
        background: rgba(196, 223, 231, 0.3);
    }

    .commentDecoration{
        background: rgba(196, 231, 196, 0.3);
    }

    .userInputRegion{
        box-sizing: border-box;
        position: relative;
        border-width: 1px;
        border-color: #bbb;
        border-style: none none solid none;
    }

    .selection{
        width: 20px; 
        height: 100%;
        float: left;
        background: #d9d9d9;
        
    }

    .box{
        margin-left: 20px;
        height: 100%;
    }
    
    .runBox{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border-right: 4px solid;
        border-left:0px solid;
        border-color: #d9d9d9;
        width : 100%;
        height :100%; 
        position: relative;
        z-index: 1;
        
    }

    .enlargedRunBox{
        background-color: #f2e6ff;
        border: 4px solid #cc99ff;
    }

    .enlargedSelection{
        background-color: #cc99ff;
    }

    .runUL{
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 0px;
        list-style-type: none;
        width : 100%;
        height: 100%;
    }

    .runButtonLI{
        background: #d9d9d9;
        width : 100%;
        height: 19px;
        margin: 0;
        padding: 0;
    }

    .readoutLI{
        font-family: sans-serif;
        font-size: small;
        padding: 3px;
        color: #555 ;
        transition: background 1.2s ease-out;
        height: calc(100% - 25px);
        overflow:auto;
        white-space: pre-wrap;
    }
    
    /* width */
    .readoutLI::-webkit-scrollbar {
        width: 11px;
        height: 11px;
    }

    /* Track */
    .readoutLI::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    /* Handle */
    .readoutLI::-webkit-scrollbar-thumb {
        background: #bbb; 
    }

    /* Handle on hover */
    .readoutLI::-webkit-scrollbar-thumb:hover {
        background: #aaa;; 
    }

    .blinkingreadoutLI{
        background : rgba(255, 0, 0, 0.5);
    }

    .button{ 
        padding: 0px 10px 0px 10px;
        margin:0px;
        height: 19px;
        line-height: 19px;
        background: #d9d9d9;
        color: #555;
        float: left;
        text-align: center;
        cursor: pointer;
        transition: 0.3s;
        font-family: sans-serif;
        font-size: small;
    }

    .bigButton{
        width: 50px;
    }

    .button:hover{
        background-color: #bbb;
    }